@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Symphony Park Homes Residents Welfare Association</h1>
    <p>
        This site has been created to collect the Daily Essential needs like Vegetables, Groceries and Others from the Residents. So that residents movement is restricted in/out of the Symphony Park Homes premises.<br/>
        Requesting users not to play with the site or damage the data collected. If we observe/find any such actvities, it would be reported to respective authorities to take a criminal action against them.<br /><br />

        Also note, Team SPHRWA (Symphony Park Homes Residents Welfare Association) is only playing the role of assisting the residents in these trying times. Orders would be accepted only till 8PM and any entry made after that would be considered for next batch. Also note the following:<br />
        1. Brands, grades & prices are not guaranteed, so people who have no constraints on these are requested to order items.<br /><br />

        2. Once the order is placed, it cannot be cancelled.<br /><br />

        3. If any shortages, team will try to do proportional allocation and where not possible, will distribute on first book, first serve basis.<br /><br />

        4. Payments should be done through Google pay/Account fund transfer only. Payment details would be published with individual residents to ease the payment collection.<br />
    </p>    
</div>
